.product-sell-data-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.product-sell-data-item {}

.product-sell-data-label {
  white-space: nowrap;
  color: #6310C8;
  font-weight: bold;
}

.product-sell-data-value {
  font-weight: 500;
}

.product-search-container {}

.product-search-title {
  font-size: 18px;
  color: #6310C8;
  font-weight: bold;
}

.product-search-catalog {
  height: 105px;
  overflow-y: scroll;
}

.product-search-catalog--empty {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-search-catalog-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
  justify-content: center;
  align-content: center;
}

.product-search-catalog-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.product-search-catalog-item-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-search-catalog-item-text {
  margin: 0;
  text-align: center;
}

.button-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.button {
  width: fit-content;
  border-radius: 16px;
  border: 1px solid gray;
  cursor: pointer;
  background-color: white;
  transition: background-color 0.25s;
  padding: 4px 16px;
}

.button-circle {
  width: 100%;
}

.button:hover {
  background-color: rgba(98, 16, 198, 0.25);
}

.button--red:hover {
  background-color: rgba(198, 16, 16, 0.25);
}

.products-container {}


@media screen and (min-width: 768px) {
  .product-search-catalog-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .product-search-catalog-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}