.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  background-image: url('/images/admin/users-view-background.png');
  background-attachment: 'fixed';
  min-height: 80vh;
  background-position: 'top';
  background-size: 100% auto;
  background-repeat: repeat-y;
}

/*
.top-header {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  font-size: 20px;
  align-self: flex-start;
  gap: 20px;
  font-weight: bold;
  color: #691aca;
  background-color: transparent;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  margin-bottom: 10px;
}
*/

.search-container {
  display: flex;
  width: 100%;
  position: relative;
}

.search-icon {
  position: absolute;
  top: 8px;
  left: 8px;
}

.search-distributor {
  width: 100%;
  padding: 8px 16px 8px 38px;
  border-radius: 12px;
  border: none;
  background-color: #F2F6FF;
}

.search-bar-elements {
  display: flex;
  gap: 16px;
  flex-wrap: nowrap;
}

.search-bar-element {
  font-size: 14px;
  white-space: nowrap;
  color: #691aca;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease;
  padding: 8px 8px;
  border-radius: 16px;
}

.search-bar-element:hover {
  background-color: rgba(138, 75, 215, 0.25);
}

.top-header:hover {
  background-color: rgba(105, 26, 202, 0.2);
}

.content-title {
  font-size: 24px;
  color: #691aca;
  text-align: center;
  font-weight: 600;
}

.data-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 1100px;
}

.user-main-header,
.sections-container,
.content-section {
  background-color: white;
  border-radius: 16px;
  padding: 20px;
}

.user-main-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
}

.user-profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.user-image {
  width: 80px;
  height: 80px;
  min-width: 80px;
  border-radius: 50%;
  border: 5px solid #691aca;
  overflow: hidden;
  margin-right: 30px;
}

.user-image img {
  width: 100%;
}

.user-name {
  font-size: 20px;
  font-weight: bold;
  margin-right: 15px;
  text-align: center;
  color: #691aca;
}

.user-properties {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.user-property-header {
  font-size: 16px;
  color: black;
  font-weight: normal;
  white-space: nowrap;
}

.user-property-value {
  font-size: 16px;
  color: #691aca;
  font-weight: bold;
}

.sections-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-direction: column;
  align-items: center;
}

.section-title {
  font-size: 18px;
  color: #691aca;
  background-color: transparent;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  padding: 10px;
  display: flex;
  align-items: center;
  height: 100%;
}

.section-title:hover {
  background-color: rgba(105, 26, 202, 0.2);
}

.section-title--active {
  font-weight: bold;
  background-color: rgba(105, 26, 202, 0.2);
}

.content-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.course-homeworks-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.course-homeworks-section__title-container {
  background-color: white;
  padding: 15px;
  border-radius: 16px;
  text-align: center;
}

.course-homeworks-section__title {
  color: #691aca;
  margin: 0;
}

.subscription-actions-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  padding: 20px;
}

.subscription-actions-item {
  border-radius: 32px;
  border: 2px solid #8a4bd7;
  padding: 10px;
  width: 300px;
  text-align: center;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.subscription-actions-item:hover {
  background-color: rgba(105, 26, 202, 0.2);
}

.subscription-actions-item__text {
  margin: 0;
  font-weight: bold;
  color: #8a4bd7;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Fondo negro transparente */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 380px;
  min-width: 300px;
}

.gonvar-button {
  border-radius: 16px;
  transition: background-color 0.5s ease;
  height: 35px;
}

.gonvar-button--disabled {
  border: none;
  background-color: darkgray;
  color: white;
}

.gonvar-button--purple {
  border: 2px solid white;
  background-color: #691aca;
  color: white;
}

.gonvar-button--purple:hover {
  color: #691aca;
  background-color: white;
  border: 2px solid #691aca;
}

.gonvar-button--ghost {
  background-color: transparent;
  color: #691aca;
  border: 2px solid #691aca;
}

.gonvar-button--ghost:hover {
  color: white;
  background-color: #691aca;
}

.table-content {
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
  order: 2;
}

.gonvar-table {
  width: 100%;
  border-spacing: 10px;
}

.gonvar-table__thead {}

.gonvar-table__tbody {
  color: black;
}

.gonvar-table__row {
  padding: 10px;
}

.gonvar-table__th {
  padding-bottom: 10px;
  padding-inline: 15px;
  border-bottom: 2px solid lightgrey;
  color: #691aca;
}

.gonvar-table__data {
  padding: 10px 5px 0;
  font-size: 14px;
  color: black;
}

.gonvar-table__th,
.gonvar-table__data {
  white-space: nowrap;
  text-align: center;
}

.gonvar-table__data--large-text {
  white-space: wrap;
  text-overflow: ellipsis;
  width: 50%;
}

.gonvar-table__approved-text,
.gonvar-table__not-approved-text,
.gonvar-table__not-checking-text,
.gonvar-table__not-sended-text {
  font-weight: bold;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  padding-inline: 10px;
}

.gonvar-table__not-approved-text {
  background-color: #ffc6c7cc;
  color: #c10b0ecc;
}

.gonvar-table__approved-text {
  background-color: #d5ffed;
  color: #0ead69;
}

.gonvar-table__not-checking-text {
  background-color: #f8e2f8;
  color: #d244d1;
}

.gonvar-table__not-sended-text {
  background-color: #cbcbcb;
  color: #323232;
}

.gonvar-table__purple-text {
  background-color: #f6efff;
  color: #691aca;
}

.gonvar-table__button {
  background-color: transparent;
  border: 2px solid #691aca;
  border-radius: 12px;
  padding: 6px 12px;
  font-size: 12px;
  font-weight: bold;
  color: #691aca;
  transition: opacity 0.5s ease;
}

.gonvar-table__button:hover {
  opacity: 0.7;
}

.go-back {
  display: flex;
  justify-content: start;
  align-items: start;
  font-weight: bold;
  order: 1;
  color: #691aca;
  padding: 10px;
  background-color: transparent;
  transition: background-color 0.5s ease;
  cursor: pointer;
  border-radius: 16px;
}

.go-back:hover {
  background-color: rgba(105, 26, 202, 0.2);
}

.go-back__arrow {
  max-width: 100%;
  height: 20px;
  width: 20px;
  margin: 0px 5px 5px 5px;
}

.rewards-sections {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  padding: 0px 0px 10px 0;
  color: #691aca;
}

.rewards-sections__option {
  padding: 10px 20px;
}

.rewards-sections__option--active {
  border-radius: 20px;
  border: 2px solid #691aca;
}

.rewards-details {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  padding: 5px 0;
  color: #691aca;
}

.accumulated-rewards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rewards__grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1f;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.rewards__grid-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}

.reward-card {
  background-color: #d8cce2;
  border-radius: 16px;
  padding: 15px;
  text-align: center;
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.reward-card__title {
  color: #ed8029;
}

.reward-card__subtitle {}

.reward-card__bottom-text {}

.reward-card__image-container {
  margin: 10px 0;
  max-width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.certificate-card {
  background-color: transparent;
  border-radius: 16px;
  padding: 15px;
  text-align: center;
  gap: 5px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.certificate-card__course-title {
  color: #d244d1;
  margin: 0;
}

.reward-card__instructor-name {
  color: black;
  font-weight: normal;
  margin: 0;
}

.certificate-card__image-container {
  margin: 10px 0;
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.certificate-card__image {
  width: 100%;
}

.locked-rewards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.empty-content-area {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  color: #888;
  text-align: center;
  background-color: #eee;
  border-radius: 16px;
}

.empty-container {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.empty-content {
  background-color: #eee;
  padding: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

.empty-content-text {
  margin: 0;
  font-weight: 500;
}

.subscription-container {}

.subscription-info-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: start;
  align-content: center;
  gap: 5px;
}

.subscription-item {
  padding: 10px;
}

.subscription-item__content,
.subscription-item__header {
  padding: 10px;
  text-align: center;
}

.subscription-item__header {}

.subscription-item__content {
  border-radius: 16px;
  background-color: #f6efff;
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
}

.subscription-item__content-text {
  color: #8a4bd7;
  font-weight: bold;
  margin: 0;
  white-space: nowrap;
}

.subscription-item__content-text--normal-weight {
  font-weight: normal;
}

.subscription-item__title {
  color: #691aca;
  font-weight: 500;
  margin: 0;
}

.distributor-options-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.distributor-option {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.5s ease;
  font-weight: 500;
  border-radius: 16px;
}

.distributor-option:hover {
  background-color: rgba(105, 26, 202, 0.2);
}

.distributor-option-active {
  font-weight: bold;
  background-color: rgba(105, 26, 202, 0.2);
}

.distributor-option-text {
  color: #691aca;
}

.distributor-code-sells-container {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;
}

.distributor-code-sell {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border: 2px solid rgba(138, 75, 215, 0.5);
  border-radius: 16px;
  gap: 8px;
  background-color: rgba(138, 75, 215, 0.2);
}

@media screen and (min-width: 576px) {
  .sections-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .user-properties {
    grid-template-columns: 3fr 2fr;
  }

  .rewards__grid-container {
    grid-template-columns: 1fr 1fr;
  }

  .subscription-info-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 768px) {
  .user-profile {
    flex-direction: row;
  }

  .user-properties {
    grid-template-columns: 3fr 2fr 2fr 1fr;
  }

  .sections-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .rewards-sections {
    flex-direction: row;
    justify-content: center;
  }

  .distributor-options-container {
    grid-template-columns: 1fr 1fr;
  }

  .distributor-code-sells-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .user-properties {
    grid-template-columns: 3fr 2fr 2fr 1fr;
  }

  .user-main-header {
    flex-direction: row;
  }

  .user-profile {
    flex-direction: row;
  }

  /* go-back contenedor ... TODO */
  .content-section {}

  .go-back {
    order: 1;
  }

  .table-content {
    order: 2;
  }

  .rewards__grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .subscription-info-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {}