.inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  max-width: 300px;
}

.inputs label {
  width: 300px;
  height: 16px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;

  text-align: start;
  letter-spacing: 0.5px;

  color: #3f1168;

  margin: 0 0 5px 5px;
}

.inputs input {
  max-width: 330px;
  height: 32px;

  background: #ece7f2;
  border-radius: 40px;
  border: none;
  padding-left: 15px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;

  text-align: start;
  letter-spacing: 0.5px;

  color: #3f1168;
}

.inputs input::placeholder {
  font-weight: 500;
}

.inputs input:disabled::placeholder {
  font-weight: 600; /* Estilo personalizado para el placeholder cuando está deshabilitado */
}

@media screen and (max-width: 670px) {
  .inputs {
    width: 100%;
  }

  .inputs input {
    max-width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .inputs label {
    font-size: 15px;
  }
}
