.main {
  width: 100%;
  padding: 3% 3% 0 3%;
  display: flex;
  flex-direction: column;
}

.titles {
  display: flex;
}

.main h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 2%;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 27px;
  color: #520795;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2%;
}

.main button {
  width: 250px;
  height: 80px;
  border: 0;
  cursor: pointer;
  font-family: "Montserrat";
  border-radius: 100px;
  background: linear-gradient(135deg, #952ced 0%, #ca41d4 100%);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  color: #ffffff;
}

.volver {
  display: flex;
  cursor: pointer;
}

.volver div {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #520795;
  padding: 5px 0 0 8px;
}

.link {
  text-decoration: none;
}

@media (max-width: 768px) {

  .volver {
    position: absolute;
    top: 100px;
    right: 5%;
  }

  .main h2 {
    font-size: 28px;
    /* Reducir el tamaño de fuente para dispositivos pequeños */
    line-height: 36px;
    /* Ajustar el espacio entre líneas para dispositivos pequeños */
  }

  .main button {
    width: 200px;
    font-size: 18px;

  }
}

@media (max-width: 400px) {

  .volver {
    position: absolute;
    top: 100px;
    right: 5%;
  }

  .main h2 {
    font-size: 28px;
    /* Reducir el tamaño de fuente para dispositivos pequeños */
    line-height: 36px;
    /* Ajustar el espacio entre líneas para dispositivos pequeños */
  }

  .buttonContainer {
    justify-content: center;
  }
}