.generic-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.3s ease forwards;
  width: 100vw;
  height: 100vh;
}

.generic-modal-content {
  background-color: white;
  border: 1px solid gray;
  padding: 20px;
  margin: 20px;
  border-radius: 32px;
  max-width: 500px;
  width: 100%;
  animation: slideUp 0.5s ease forwards; /* Animación de entrada del modal */
}

.title {
  text-align: center;
  margin-bottom: 16px;
  color: rgb(105, 26, 202);
}

.title--successs {
  color: rgb(25, 143, 81);
}

.title--error {
  color: rgb(245, 52, 33);
}

/*
.title--information {
  color: rgb(105, 26, 202);
}
*/

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 36px;
}

.button {
  border: none;
  background-color: rgb(105, 26, 202);
  color: white;
  padding: 16px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  border-radius: 32px;
  transition: background-color 0.25s ease;
}

.button:hover {
  background-color: rgba(105, 26, 202, 0.75);
  cursor: pointer;
}

.button--red {
  background-color: rgb(245, 52, 33);
}

.button--red:hover {
  background-color: rgba(245, 52, 33, 0.75);
}

.button--green {
  background-color: rgb(25, 143, 81);
}

.button--green:hover {
  background-color: rgba(25, 143, 81, 0.75);
}