.container {
  display: flex;
  flex-direction: column;
  margin: 3% 5% 3% 5%;
}

.buttonContainer {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}

.buttonContainer p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #520795;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.button {
  width: 344.72px;
  height: 74px;
  border: 0;
  cursor: pointer;
  font-family: "Montserrat";
  border-radius: 100px;
  background: linear-gradient(135deg, #952ced 0%, #ca41d4 100%);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  color: #ffffff;
}