@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

.formContainer {
  height: 100%;
  display: flex;
  background-color: #ece7f2;
}

.form {
  width: 60%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 4%;
}

.volver {
  display: flex;
  cursor: pointer;
}

.volver div {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #520795;
  padding: 20px 0 0 8px;
}

.volver img {
  padding-top: 15px;
}

.form .textos {
  margin-top: 0px;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.textos h1 {
  text-align: center;
  position: relative;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 51px;
  line-height: 62px;
  color: #520795;
}

/* .textos h3 {
  position: relative;
  height: 56px;
  max-width: 500px;
  margin-top: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;

  color: #520795;
} */

.textos span {
  font-weight: 600;
}

.textos p {
  position: relative;
  text-align: center;
  margin-top:0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  padding: 0 11%;

  color: #520795;
}

.textos .costo{
  color: red;
  font-weight: 600;
  font-size: 20px;
  margin-top: 0px;
}

.textos .verde{
  color: #16A854;
}

.tachado{
  text-decoration: line-through;
}

.textos .bold{
  font-size: 38px;
  font-weight: 600;
}

.textos .ital{
  font-style: italic;
  margin-top: 0;
}

.textos .nota{
  padding: 0 4%;
  font-size: 14px;
}

.inputContainer {
  width: 95%;
  /* margin-top: 10px; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.checkboxContainer {
  display: flex;
  align-items: flex-start;
  margin: 10px 0 5px 0;
}

.checkboxContainer input {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: white;
  accent-color: #952ced;
}

/* .checkboxContainer input[type="checkbox"]:checked {
  background-color: #8a2be2 !important;
  border-color: #8a2be2 !important;
} */

.checkboxContainer label {
  margin-left: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  max-width: 373px;
  height: 32px;

  letter-spacing: 0.4px;

  color: #7a7289;
}

/* .checkboxContainer label span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;

  letter-spacing: 0.4px;
  color: #3f1168;
} */

.terminos{
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;

  letter-spacing: 0.4px;
  color: #3f1168;

  text-decoration: none;
}

.terminos:hover{

  color: #d24dd3;}

.btnRecibir {
  font-family: "Montserrat";
  border-radius: 100px;
  background: linear-gradient(135deg, #952ced 0%, #ca41d4 100%);
  color: #ede7f2;
  border: 0;
  /* padding: 15px 25px; */
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
  cursor: pointer;

  position: relative;
  width: 305px;
  height: 54px;
}

.btnRecibir:hover {
  transform: scale(1.03);
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  background-color: #5000b5;
}

.formImg {
  position: relative;
  width: 40%;
  height: 600px;
  background-image: url("/images/trivias/mailexitoso.png");
  background-size: 100%;
  background-repeat: no-repeat;
  /*padding: 40px 10px 0 0;*/
  text-align: end;
}

.formImg img {
  padding: 40px 10px 0 0;

  /* width: 100%;
  height: 550px;
  object-fit: cover; */
}

.link {
  text-decoration: none;
}


.errorMessageNombre{
  color: red;
  position: absolute;
  width: 229px;
  top:480px;
  height: 50px;
}

.errorMessageApellido{
  color: red;
  position: absolute;
  width: 229px;
  top:480px;
  height: 50px;
}

.errorMessageMail{
  color: red;
  position: absolute;
  width: 300px;
  top:580px
}

.errorMessageWA{
  color: red;
  position: absolute;
  width: 300px;
  top:580px
}

@media screen and (max-width: 1475px) {

  
  /* .errorMessageWA, .errorMessageMail{
    top:520px
  } */

  .checkboxContainer {
    margin: 0px 0 5px 0;
  }
}

@media screen and (max-width: 1064px) {

  .form, .formImg {
    height: 800px;
  }

  .formImg{
    background-size: auto 100%;
    background-position: center;
  }

  .textos h3 {
    margin-bottom: 25px;
  }
  .inputContainer {
    flex-direction: column;
    margin-top: 5px;
  }

  .checkboxContainer {
    margin: 35px 0 20px 0;
  }

  .errorMessageNombre{
    width: 100%;
    top:420px;
  }
  
  .errorMessageApellido{
    width: 100%;
    top:525px;
  }
  
  .errorMessageMail{
    width: 100%;
    top:628px
  }
  
  .errorMessageWA{
    width: 100%;
    top:733px
  }
}

@media screen and (max-width: 1023px) {


  .errorMessageNombre{
    top:417px;
  }
  
  .errorMessageApellido{
    top:522px;
  }
  
  .errorMessageMail{
    top:623px
  }
  
  .errorMessageWA{
    top:726px
  }
}

@media screen and (max-width: 800px) {


  .formImg {
    display: none;
  }

  .form{
    width: 100%;
  }

}

@media screen and (max-width: 381px) {


  .form{
    height: 830px;
  }

  .errorMessageNombre{
    top:433px;
  }
  
  .errorMessageApellido{
    top:538px;
  }
  
  .errorMessageMail{
    top:639px
  }
  
  .errorMessageWA{
    top:742px
  }

}

@media screen and (max-width: 346px) {

  .textos h1 {
    font-size: 45px;
  }

  .textos h3 {
    height: 50px;
    font-size: 20px;
    line-height: 25px;
    margin-top: 5px;
  }

  .errorMessageNombre{
    top:423px;
  }
  
  .errorMessageApellido{
    top:528px;
  }
  
  .errorMessageMail{
    top:629px
  }
  
  .errorMessageWA{
    top:732px
  }

  .btnRecibir {
    margin-top: 15px;
    width: 90%;
  }

}