@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

.formContainer {
  height: 100%;
  display: flex;
  background-color: #ece7f2;
}

.form {
  width: 53%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 4%;
  margin-bottom: 2%;
}

.volver {
  display: flex;
  cursor: pointer;
}

.volver div {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #520795;
  padding: 28px 0 0 8px;
}

.volver img {
  padding-top: 23px;
}

.textos {
  margin-top: 25px;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.textos h1 {
  position: relative;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 51px;
  line-height: 62px;
  color: #992eea;
}

.textos h3 {
  position: relative;
  height: 56px;
  max-width: 500px;
  margin-top: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;

  color: #520795;
}

.textos span {
  color: #d24dd3;
  position: relative;
}

.textos p {
  position: relative;
  margin-top: 10px;
  max-width: 510px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #520795;
}

.inputContainer {
  width: 95%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.checkboxContainer {
  display: flex;
  align-items: flex-start;
  margin: 0 0 5px 0;
}

.checkboxContainer input {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: white;
  accent-color: #952ced;
}

/* .checkboxContainer input[type="checkbox"]:checked {
  background-color: #8a2be2 !important;
  border-color: #8a2be2 !important;
} */

.checkboxContainer label {
  margin-left: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  max-width: 373px;
  height: 32px;

  letter-spacing: 0.4px;

  color: #7a7289;
}

.checkboxContainer label span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;

  letter-spacing: 0.4px;
  color: #3f1168;
}

.btnRecibir {
  font-family: "Montserrat";
  border-radius: 100px;
  background: linear-gradient(135deg, #952ced 0%, #ca41d4 100%);
  color: #ede7f2;
  border: 0;
  /* padding: 15px 25px; */
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
  cursor: pointer;

  position: relative;
  width: 305px;
  height: 54px;
}

.btnRecibir:hover {
  transform: scale(1.03);
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  background-color: #5000b5;
}



.formImg {
  position: relative;
  width: 47%;
  height: 648px;
  background-image: url("/images/trivias/Ganaste-cupon.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  /*padding: 40px 10px 0 0;*/
  text-align: end;
}

.formImg img {
  padding: 40px 10px 0 0;

  /* width: 100%;
  height: 550px;
  object-fit: cover; */
}

.link {
  text-decoration: none;
}


.errorMessageNombre{
  color: red;
  position: absolute;
  width: 229px;
  top:445px;
  height: 50px;
}

.errorMessageApellido{
  color: red;
  position: absolute;
  width: 229px;
  top:445px;
  height: 50px;
}

.errorMessageMail{
  color: red;
  position: absolute;
  width: 229px;
  top:545px
}

.errorMessageWA{
  color: red;
  position: absolute;
  width: 229px;
  top:545px
}

@media screen and (max-width: 1064px) {

  .textos h3 {
margin-bottom: 25px;
  }
  .inputContainer {
    flex-direction: column;
  }

  .errorMessageNombre{
    width: 100%;
    top:462px;
  }
  
  .errorMessageApellido{
    width: 100%;
    top:566px;
  }
  
  .errorMessageMail{
    width: 100%;
    top:670px
  }
  
  .errorMessageWA{
    color: red;
    position: absolute;
    width: 100%;
    top:780px
  }
}

@media screen and (max-width: 1040px) {

  .inputContainer {
    flex-direction: column;
  }

  /* .formImg {
height: 100%;
  } */

}

@media screen and (max-width: 800px) {


  .formImg {
    display: none;
  }

  .form{
    width: 100%;
  }

}