.courseContainer{
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
}

.portada{
  width: 90%;
  border-radius:10px;
}

.textos .curso{
  color: #D244D1;
  font-size: 65%;
  font-weight: 600;
  margin-bottom: 3px;
}

.textos .instructor{
  font-size: 65%;
  font-style: italic;
  margin-top: 0px;

}

@media screen and (max-width: 800px) {

  .courseContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 15% 0 15%;
  }

  .cursos{
    padding-left: 8%;
    max-width: 100%;
  }

  .portada{
   width: 100%;
  }

  .textos{
    width: 100%;
  }

  .textos .curso{
    font-size: 90%;
  }
  
  .textos .instructor{
    font-size: 90%;
  
  }

}