.main {
  width: 100%;
  padding: 3% 3% 0 3%;
  display: flex;
  flex-direction: column;

  .titles {
    display: flex;
    flex-direction: column;

    width: 88%;
    text-align: center;
    margin-bottom: 2%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 27px;
    color: #520795;

    .buttonContainer {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2%;

      .button {
        width: 300px;
        height: 50px;
        border: 0;
        cursor: pointer;
        font-family: "Montserrat";
        border-radius: 100px;
        background: linear-gradient(135deg, #952ced 0%, #ca41d4 100%);
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        /* identical to box height */
        color: #ffffff;
      }

      .link {
        text-decoration: none;

        .volver {
          display: flex;
          cursor: pointer;

          font-family: "Montserrat";
          font-style: normal;
          font-weight: 700;
          font-size: 22px;
          line-height: 27px;
          color: #520795;

          .volverText {
            text-align: center;
            padding: 5px 0 0 8px;
          }
        }
      }
    }

    .title {
      font-style: normal;
      font-weight: 700;
      font-size: 60px;
      line-height: 65px;
    }
  }

  .selectContainer {
    display: flex;
    justify-content: space-around;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #520795;

    .selectGroup {
      display: flex;
      flex-direction: column;

      .select {
        color: #520795;
        border-radius: 20px;
        border-color: #520795;
        border-width: 2px;
        height: 30px;
        padding-left: 5px;
      }

      .select:focus {
        border-color: #520795;
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    list-style: none; /* Elimina los puntos de lista */
    padding: 0;

    .pageItem {
      padding: 10px 20px;
      background-color: #d24dd3;
      border: none;
      cursor: pointer;
      margin: 5px;

      .pageLink {
        text-decoration: none;
        color: #ffffff;
      }
    }

    .active {
      background-color: #520795;
    }
  }
}

@media (max-width: 768px) {
  .volver {
    position: absolute;
    top: 100px;
    right: 5%;
  }

  .main h2 {
    font-size: 28px; /* Reducir el tamaño de fuente para dispositivos pequeños */
    line-height: 36px; /* Ajustar el espacio entre líneas para dispositivos pequeños */
  }

  .main button {
    width: 200px;
    height: 40px;
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  .volver {
    position: absolute;
    top: 100px;
    right: 5%;
  }

  .main h2 {
    font-size: 28px; /* Reducir el tamaño de fuente para dispositivos pequeños */
    line-height: 36px; /* Ajustar el espacio entre líneas para dispositivos pequeños */
  }

  .buttonContainer {
    justify-content: center;
  }
}
