.finalContainer {
  min-height: 590px;
  display: flex;
  background-color: #ece7f2;
}

.final {
  width: 57%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
  padding-left: 5%;
  margin-top: 1%;
}

.finalVolver {
  display: flex;
  cursor: pointer;
}

.finalVolver div {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #520795;
  padding: 3% 0 0 2%;
}

.finalVolver img {
  padding-top: 0.7%;
}

.finalTextos {
  /* margin-top: 5%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.finalTextos h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 51px;
  line-height: 62px;
  color: #992eea;
  width: 80%;
}

.finalTextos h3 {
  height: 56px;
  width: 80%;
  margin-top: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;

  color: #520795;
}

.finalTextos span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  color: #d24dd3;
}

.finalImg {
  width: 43%;
  background-image: url("/images/trivias/revisa-email.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 40px 10px 0 0;
  text-align: end;
  min-height: 590px;

}

.link {
  text-decoration: none;
}

@media screen and (max-width: 1014px) {


  .finalImg{
    background-size: cover;
    background-position: center;
  }

}

@media screen and (max-width: 800px) {

  .finalContainer {
    display: flex;
    flex-direction: column;
  }
  
  .final {
    width: auto;
    padding: 0 3%;
  }

  .finalImg{
    display: none;
  }

  .finalTextos {
    position:relative;
    z-index: 2;
    width: 80%;
    /* height: 40%; */
    background-color: #ece7f2;
    border-radius: 20px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
  }

  .finalTextos h1 {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 4.5vh;
  }

  .finalTextos h3 {
    width: 100%;
    text-align: center;
    font-size: 2.5vh;

  }

}