.container{
  padding: 10px;
  width: 1150px;
}

.container H1{
  text-align: center;
}

.button_container{
  display: flex;
  justify-content: center;
}

.card_container{
  display: flex;  
  justify-content: space-between;
}

.chartContainer {
  display: flex;
  justify-content: flex-end;
}