@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

.container{
  background-color: #ece7f2;
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo{
    width: 20rem;
    margin:40px 0;
  }

  .formContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #c9c0d3;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 30px 20px 20px 20px;
    box-sizing: border-box;
    
    .title{
      display: flex;
      justify-content: center;
      text-align: center;
      position: relative;
      max-width: 90%;
      margin: 0 auto;
      font-size: 36px;
    }

    .paragraph{
      display: flex;
      justify-content: center;
      position: relative;
      color: #3f1168;
      width: 90%;
    }

    .lineaAtravesada {
      width: 100%;
      height: 1px;
      background-color: #000; /* Cambia este color según tus preferencias */
      margin: 20px 0; /* Ajusta el margen según sea necesario */
    }
  
    .inputContainer{
      display: flex;
      flex-direction: column;
      position: relative;
      width: 90%;
    
      .names{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media (max-width: 720px) {
          flex-direction: column;
        }

        .name, .last_name {
          display: flex;
          flex-direction: column;
          position: relative;

          .errorMessageNombre, .errorMessageApellido{
            color: red;
            position: absolute;
            top:55px;
            width: 245px;
            padding-left: 15px;
          }
        }

        .last_name {
          @media (max-width: 720px) {
            margin-top: 30px;
          }
        }
        
      }
    
      .mail{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        position: relative;

        .errorMessageMail{
          color: red;
          position: absolute;
          top:55px;
          width: 300px;
          padding-left: 15px;
        }
      }
    
      .phone{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        position: relative;

        .errorMessageWA{
          color: red;
          position: absolute;
          top:55px;
          width: 300px;
          padding-left: 15px;
        }
      }
    
      .image{
        margin-top: 60px;
      }
    
      .options{
        margin: 60px 0 30px 0;
        position: relative;

        .optionContainer{
          display: flex;
          flex-direction: column;
          position: relative;
          
          .errorOption{
            color: red;
            position: absolute;
            top:100%;
            width: 350px;
            padding-left: 40px;
          }
        }
      }
    
      .buttonContainer{
        display: flex;
        justify-content: center;
        margin-top: 60px;
      }
    
      .submitButton {
        font-family: "Montserrat";
        border-radius: 100px;
        background: linear-gradient(135deg, #952ced 0%, #ca41d4 100%);
        color: #ede7f2;
        border: 0;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;    
        width: 305px;
        height: 45px;
      }
    
      .submitButton:hover {
        transform: scale(1.03);
        -webkit-transition: 0.5s ease all;
        transition: 0.5s ease all;
        background-color: #5000b5;
      }
    }
  }
}