.swiper-wrapper {
  transition-timing-function: linear;
}
.form-control:focus{
    outline: none !important;
    border:2px solid #6717CD !important;
}

.skeleton-product {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1.5px;
  pointer-events: none !important;
}
.skeleton-product .grey-field {
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: 20;
    color: transparent !important;
    border-radius: 3px;
    max-width: initial;
    z-index: 5000;
  }
.skeleton-product .grey-field > *{
  opacity: 0;
}

@keyframes blink {
  0% {
    background-color: #3035417c;
  }
  50% {
    background-color:#3035413a;
  }
  100% {
    background-color: #3035417c;
  }
}
.right-shadow{
    width: 100px;
    height: 209px;
    right: 10px;
    position: absolute;
    background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(0,0,0,1) 100%);
    min-width: 50px;
}
p,h1,h2,h3,h4,h5,h6,a,span,button,input,textarea,select{
  font-family: "Montserrat", sans-serif !important;
}
h1,th{
      font-weight: bold !important;
}

/*******Coming Soon content****/
.cs-container{
  height: 100vh;
}
.cs-container .background-img{
  filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cs-container .content{
  position: absolute;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  gap: 50px;
}
.cs-container .content h1{
  color: #fff;
  font-size: 90px;
}
.cs-container .content .social-container{
  display: flex;
  gap: 20px;
}
.cs-container .content .social-container .circles{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 1.5px solid white;
  color: white;
}
@media screen and (max-width:850px){
  .cs-container .content h1{
  color: #fff;
  font-size: 30px;
}
}
.quill{
  min-height: 156px;
}
.ql-toolbar{
  border: 1px solid #6717cd !important;
  border-radius: 10px 10px 0 0 !important;
}
.ql-container{
  border-top: none !important;
  border: 1px solid #6717cd !important;
  border-radius: 0 0 10px 10px;
}
