.swiper-wrapper {
  transition-timing-function: linear;
}
.form-control:focus{
    outline: none !important;
    border:2px solid #6717CD !important;
}

.skeleton-product {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1.5px;
  pointer-events: none !important;
}
.skeleton-product .grey-field {
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: 20;
    color: transparent !important;
    border-radius: 3px;
    max-width: initial;
    z-index: 5000;
  }
.skeleton-product .grey-field > *{
  opacity: 0;
}

@keyframes blink {
  0% {
    background-color: #3035417c;
  }
  50% {
    background-color:#3035413a;
  }
  100% {
    background-color: #3035417c;
  }
}
.right-shadow{
    width: 100px;
    height: 209px;
    right: 10px;
    position: absolute;
    background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(0,0,0,1) 100%);
    min-width: 50px;
}
p,h1,h2,h3,h4,h5,h6,a,span,button,input,textarea,select{
  font-family: "Montserrat", sans-serif !important;
}
h1,th{
      font-weight: bold !important;
}

/*******Coming Soon content****/
.cs-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.cs-container h1{
  color: rgb(103, 23, 205);
  font-size: 90px;
}