@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.container {
  width: 100%;
  height: 670px;
  display: flex;
  background-image: url('/images/forms/thankyou.png');
  background-size: cover;
  background-position: center center; /* Centra la imagen */

  @media (max-width: 800px) {
    height: 800px;
    flex-direction: column;
    height: auto;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 200px 0 0 10%;

  font-family: 'Montserrat', Helvetica;
  color: #3f1168;

  @media (max-width: 800px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 0;
    position: relative;
    top: 20px;
  }

  .title {
    font-size: 30px;
    font-weight: 700;
    max-width: 350px;

    @media (max-width: 420px) {
      font-weight: 600;
      max-width: 300px;
    }
  }

  .subtitle {
    font-size: 25px;
    font-weight: 500;
    max-width: 400px;
    line-height: 30px;
  }

  .paragraph {
    font-size: 20px;
    font-weight: 500;
    max-width: 400px;
    line-height: 25px;
  }
}

.imgContainer {
  width: 40%;

  @media (max-width: 800px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }
}

.imgContainer img {
  max-width: 100%;
  height: auto;
  width: 400px;
  position: relative;
  right: 50px;
  bottom: -130px;

  @media (max-width: 800px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    right: 0px;
    bottom: 0px;
  }
}
