.cardContainer{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 95%;
  margin-top: 40px;
}

@media screen and (max-width: 550px) {

  .cardContainer {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}