.failedContainer{
  max-width: 95%;
}

.failedContainer H1{

  margin-top: 5%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 55px;
  text-align: center;

  color: #992EEA;
}

.failedContainer p{

  margin: 2% 0  13px 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  text-align:start;
  color: #520795;
}

.failedContainer .comienza{
  color: #992EEA;
}

.failedContainer .width80{
  max-width: 80%;
}

.centrado{
  padding-left: 25%;
  text-decoration: none;
}

.failedContainer button {
  font-family: "Montserrat";
  border-radius: 100px;
  background: linear-gradient(135deg, #952ced 0%, #ca41d4 100%);
  color: #ede7f2;
  border: 0;
  font-size: 16px;
  font-weight: 600;
  margin: 3% 0;
  cursor: pointer;

  position: relative;
  width: 229px;
  height: 40px;

  align-items: center;
}

.failedContainer button:hover {
  transform: scale(1.03);
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  background-color: #5000b5;
}

@media screen and (max-width: 1080px) {

  .failedContainer .width80{
    max-width: 95%;
  }
}

@media screen and (max-width: 800px) {

  .failedContainer{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .failedContainer p{
    max-width: 80%;
  }

  .failedContainer .width80{
    max-width: 80%;
  }

  .failedContainer .comienza{
    display: flex;
    text-align: start;
    width: 100%;
  }

  .centrado{
    padding-left: 0;
    justify-content: center;
  }
}

@media screen and (max-width: 400px) {

  .failedContainer h1{
    font-size: 40px;
    line-height: 45px;
    max-width: 90%;
  }

  .failedContainer p{
    max-width: 90%;
  }

  .failedContainer .width80{
    max-width: 90%;
  }

}