.admin-contain {
  display: flex;
  width: 100%;
  position: relative;
}

.main-container {
  display: grid;
  width: 100%;
}

.title-contain {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.title {
  font-size: 24px;
}

.filters {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.filter-container {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.label {
  font-weight: 500;
}

.select, .input-text {
  border-radius: 24px;
  border: 1px solid #6717cd;
  padding: 8px;
  padding-left: 12px;
  font-size: 16px;
  font-weight: 500;
}

/*
MENSAJE DE INFORMACIÓN VACIA
*/

.empty-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px 32px;
}

.empty-message {
  font-size: 20px;
}

/*
MENSAJE DE INFORMACIÓN VACIA
*/

.table-container {
  display: grid;
  overflow-x: scroll;
}

.table {
  width: 100%;
  font-family: Montserrat;
  font-size: 14px;
}

.table-header {
  background-color: #6717cd;
  color: white;
}

.table-header-column {
  text-wrap: nowrap;
  padding: 8px 16px;
}

.table-row:nth-child(even) {
  background-color: rgb(240, 240, 240);
}

.table-body-data {
  padding: 8px;
}

.table-body-data--no-wrap {
  text-wrap: nowrap;
}

.table-link-column {
  text-wrap: nowrap;
  font-size: 12px !important;
  font-weight: 600 !important;
  padding: 8px;
  border: 1px solid black;
  border-radius: 8px;
  transition: background-color ease-in 0.15s;
}

.table-link-column:hover {
  cursor: pointer;
  background-color: rgb(211, 223, 255);
}

.table-status-column {
  padding: 8px;
  border-radius: 16px;
  font-weight: 500;
  color: white;
}

.table-status-column--not-approve {
  background-color: rgb(215, 13, 13);
}

.table-status-column--approve {
  background-color: rgb(20, 163, 36);
}

.table-status-column--not-checked {
  background-color: rgb(155, 24, 221);
}

.background-loader {
  display: flex;
  width: 100%;
  min-height: 20vh;
  align-items: center;
  justify-content: center;
}

.loader-image {
  position: relative;
  background-size: contain;
  background-position: center;
  display: flex;
  width: 60px;
  height: 60px;
  background-image: url('/images/logo-g.png');
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader-contain {
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -26px;
  top: -26px;
  width: 100px;
  height: 100px;
  margin: 6px;
  border-width: 9px;
  border-style: solid;
  border-radius: 50%;
  border-color: #6717cd transparent transparent;
  animation: rotate 1.2s cubic-bezier(0.5, 0, 0.5, 1) 0s infinite normal none running;
}

@media screen and (min-width: 768px) {
  .filters {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .filters {
    grid-template-columns: 2fr 2fr 1fr;
  }
}

/*
Breakpoint	      Class infix	  Dimensions
X-Small	          None	        <576px
Small	            sm	          ≥576px
Medium	          md	          ≥768px
Large	            lg	          ≥992px
Extra large	      xl	          ≥1200px
Extra extra large	xxl	          ≥1400px
*/
